
#leftBtnGreyed{
    -fx-background-color: #516272;
    -fx-text-align: center;
    -fx-font-size: 3em;
}

#leftBtn{
    -fx-background-color: #9fcbf8;
    -fx-text-align: center;
    -fx-font-size: 3em;
}
#leftBtn:armed{
    -fx-background-color: #86a4c3;
    -fx-text-align: center;
    -fx-font-size: 3em;
}

#rightBtnGreyed{
    -fx-background-color: #516272;
    -fx-text-align: center;
    -fx-font-size: 3em;
}

#rightBtn{
    -fx-background-color: #9fcbf8;
    -fx-text-align: center;
    -fx-font-size: 3em;
}
#rightBtn:armed{
    -fx-background-color: #86a4c3;
    -fx-text-align: center;
    -fx-font-size: 3em;
}

#exitBtn{
    -fx-background-color: #9fcbf8;
    -fx-text-align: center;
    -fx-font-size: 3em;
}
#exitBtn:armed{
    -fx-background-color: grey;
}

#useBtn{
    -fx-background-color: #9fcbf8;
    -fx-text-align: center;
    -fx-font-size: 3em;
    -fx-font-weight: bold;
}
#useBtn:armed{
    -fx-background-color: #86a4c3;
}

#title{
    -fx-font-size: 2em;
    -fx-text-align: center;
    -fx-font-family: "Engravers MT";
}
#mainText{
    -fx-font-size: 1em;
    -fx-text-align: left;
    -fx-font-family: "Engravers MT";
}
#cardColourRed{
    -fx-fill: #ff0808;
}
#cardColourBlack{
    -fx-fill: #000000;
}

#cardColourChance{
    -fx-fill: #ebedda;
}
