
#text{
    -fx-font-size: 3em;
    -fx-text-align: center;
    -fx-font-family: Calibri;
}

.button{
    -fx-background-color: #9fcbf8;
    -fx-text-align: center;
    -fx-font-size: 2em;
}
.button:armed{
    -fx-background-color: grey;
}

