#playerNameBg, #inventoryPaneBg, #compass {
    -fx-arc-width: 30px;
    -fx-arc-height: 30px;
}

#playerName {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
}

.button {
    -fx-font-size: 25px;
    -fx-font-weight: bold;
}

#redCrewCardIcon, #blackCrewCardIcon {
    -fx-arc-width: 8px;
    -fx-arc-height: 8px;
}

#redCrewCardIcon {
    -fx-fill: red;
    -fx-stroke: white;
    -fx-stroke-width: 2px;
}

#blackCrewCardIcon {
    -fx-fill: black;
    -fx-stroke: white;
    -fx-stroke-width: 2px;
}

#playerInventoryText {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
}

#cardsBtn {
    -fx-pref-width: 170px;
    -fx-pref-height: 70px;
}

#cardNum, #lootName {
    -fx-font-weight: bold;
    -fx-font-size: 22px;
}

#lootOnboardBg1, #lootOnboardBg2 {
    -fx-pref-height: 40px;
    -fx-max-width: 170px;
    -fx-background-color: #D3D3D3;
    -fx-border-color: black;
    -fx-border-width: 1px;
}

/*#lootOnboardBg1:hover, #lootOnboardBg2:hover {*/
/*    -fx-background-color: #E0E0E0;*/
/*}*/

#lootOnboardBg2 {
    -fx-border-width: 0px 1px 1px 1px;
}

#lootIcon {
    -fx-fill: rgba(0,0,0,0);
    -fx-arc-width: 8px;
    -fx-arc-height: 8px;
}



