
#title{
    -fx-font-size: 1em;
    -fx-text-align: center;
    -fx-font-family: "Engravers MT";
}
#info{
    -fx-font-size: 1em;
    -fx-text-align: center;
    -fx-font-family: "Engravers MT";
}
.button{
    -fx-background-color: #9fcbf8;
    -fx-text-align: center;
    -fx-font-size: 3em;
}
.button:armed{
    -fx-background-color: grey;
}

