/*
 * Clickable (invisible) tiles
 */

NormalTile {
    -fx-fill: rgba(0, 0, 0, 0);
}

NormalTile:hover {
    -fx-fill: rgba(0, 0, 0, 0.3);
}

IslandTile {
    -fx-fill: rgba(0, 0, 0, 0);
}

PortTile {
    -fx-fill: rgba(0, 0, 0, 0);
}

PortTile:hover {
    -fx-fill: rgba(15, 250, 15, 0.3);
}

SpecialTile {
    -fx-fill: rgba(0, 0, 0, 0);
}

SpecialTile:hover {
    -fx-fill: rgba(0, 0, 0, 0.3);
}

/*
 * Assets
 */

PortTileAsset {
    -fx-fill: #233690;
}

SpecialTileAsset {
    -fx-fill: brown;
}

IslandTileAsset {
    -fx-fill: rgba(0, 0, 0, 0);
}

NormalTile {
    -fx-fill: rgba(0, 0, 0, 0);
}

/*
 * Possible movement tiles
 */

#possibleMove {
    -fx-fill: rgba(53, 238, 13, 0.75);
}

#possibleMove:hover {
    -fx-fill: rgba(39, 155, 13, 0.85);
}
