
#startGreyed{
    -fx-background-color: #c78600;
    -fx-text-align: center;
    -fx-font-size: 3em;
}

#start{
    -fx-background-color: #ffb949;
    -fx-text-align: center;
    -fx-font-size: 3em;
}
#start:armed{
    -fx-background-color: #c78600;
    -fx-text-align: center;
    -fx-font-size: 3em;
}

.button{
    -fx-font-weight: bold;
}

#nameScreen {
    -fx-background-image: url("../assets/playerNameScreenBg.png");
}

#title{
    -fx-font-size: 3em;
    -fx-text-align: center;
    -fx-font-family: "Engravers MT";
}
#player{
    -fx-font-size: 1em;
    -fx-text-align: center;
    -fx-font-family: "Engravers MT";
}
#symbolRed{
    -fx-fill: #ff0808;
}
#symbolGreen{
    -fx-fill: #0aff11;
}
