
#startGreyed{
    -fx-background-color: #c78600;
    -fx-text-align: center;
    -fx-font-size: 3em;
}

#start{
    -fx-background-color: #ffb949;
    -fx-text-align: center;
    -fx-font-size: 3em;
}
#start:armed{
    -fx-background-color: #c78600;
    -fx-text-align: center;
    -fx-font-size: 3em;
}

.button{
    -fx-font-family: Calibri;
    -fx-font-weight: bold;
}

/*#rdyButtonBlue{*/
/*    -fx-background-color: #70b7ff;*/
/*}*/

/*#unReadyBtnBlue{*/
/*    -fx-background-color: #3487cc;*/
/*}*/

/*#rdyButtonPink{*/
/*    -fx-background-color: #f87bff;*/
/*}*/

/*#unReadyBtnPink{*/
/*    -fx-background-color: #c348cb;*/
/*}*/

/*#rdyButtonRed{*/
/*    -fx-background-color: #ff4f43;*/
/*}*/

/*#unReadyBtnRed{*/
/*    -fx-background-color: #c5051a;*/
/*}*/

/*#rdyButtonOrange{*/
/*    -fx-background-color: #ffa126;*/
/*}*/

/*#unReadyBtnOrange{*/
/*    -fx-background-color: #c67200;*/
/*}*/

/*#rdyButtonGreen{*/
/*    -fx-background-color: #7bff08;*/
/*}*/

/*#unReadyBtnGreen{*/
/*    -fx-background-color: #3acb00;*/
/*}*/

/*#rdyButtonYellow{*/
/*    -fx-background-color: #f5ff40;*/
/*}*/

/*#unReadyBtnYellow{*/
/*    -fx-background-color: #bfcc00;*/
/*}*/

/*#rdyButtonViolet{*/
/*    -fx-background-color: #9b96ff;*/
/*}*/

/*#unReadyBtnViolet{*/
/*    -fx-background-color: #6868cb;*/
/*}*/

/*#playerColourBlue{*/
/*    -fx-fill: #70b7ff;*/
/*}*/

/*#playerColourRed{*/
/*    -fx-fill: #ff4f43;*/
/*}*/

/*#playerColourPink{*/
/*    -fx-fill: #f87bff;*/
/*}*/

/*#playerColourOrange{*/
/*    -fx-fill: #ffa126;*/
/*}*/

/*#playerColourGreen{*/
/*    -fx-fill: #7bff08;*/
/*}*/

/*#playerColourYellow{*/
/*    -fx-fill: #f5ff40;*/
/*}*/

/*#playerColourViolet{*/
/*    -fx-fill: #9b96ff;*/
/*}*/


#title{
    -fx-font-size: 3em;
    -fx-text-align: center;
    -fx-font-family: "Engravers MT";
}
#player{
    -fx-font-size: 1em;
    -fx-text-align: center;
    -fx-font-family: "Engravers MT";
}
#symbolRed{
    -fx-fill: #ff0808;
}
#symbolGreen{
    -fx-fill: #0aff11;
}
