
.button{
    -fx-font-family: Calibri;
    -fx-background-color: #ffb949;
    -fx-text-align: center;
    -fx-font-size: 3em;
    -fx-font-weight: bold;

}

.button:hover{
    -fx-background-color: #c78600;
    -fx-opacity: 95%;
}

#message{
    -fx-font-size: 7em;
    -fx-text-align: center;
    -fx-font-family: "Engravers MT";
}