
#mainMenu {
    -fx-background-image: url("../assets/mainMenu.png");
    -fx-background-size: 1280, 720;
}

.button{
    -fx-font-family: Calibri;
    -fx-background-color: #ffb949;
    -fx-text-align: center;
    -fx-font-size: 3em;
    -fx-font-weight: bold;

}

.button:hover{
    -fx-background-color: #c78600;
    -fx-opacity: 95%;
}

