.root {
    -fx-font-size: 20px;
    -fx-font-family: Calibri;
    -fx-background-color: #D3D3D3;
}

#gameView {
    -fx-background-image: url("../assets/buccuneer_board_Background.png");
    -fx-background-size: 1280, 720;
}